rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isEditor() {
      return request.auth != null
        && request.auth.token.email != null
        && firestore.exists(/databases/(default)/documents/editors/$(request.auth.token.email.lower()));
    }

    function smallEnough() {
      return request.resource.size < 25 * 1024 * 1024;
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }

    match /officers/{fileName} {
      allow get: if true;
      allow create, update: if isEditor() && smallEnough() && isImage();
      allow delete: if isEditor();
    }
    match /branding/{fileName} {
      allow get: if true;
      allow create, update: if isEditor() && smallEnough() && isImage();
      allow delete: if isEditor();
    }
    match /gallery/{fileName} {
      allow get: if true;
      allow create, update: if isEditor() && smallEnough() && isImage();
      allow delete: if isEditor();
    }
    match /motm/{fileName} {
      allow get: if true;
      allow create, update: if isEditor() && smallEnough() && isImage();
      allow delete: if isEditor();
    }
    match /events/{fileName} {
      allow get: if true;
      allow create, update: if isEditor() && smallEnough() && isImage();
      allow delete: if isEditor();
    }
    match /resources/{fileName} {
      allow get: if true;
      allow create, update: if isEditor() && smallEnough();
      allow delete: if isEditor();
    }
    match /reports/{fileName} {
      allow get: if true;
      allow create, update: if isEditor() && smallEnough();
      allow delete: if isEditor();
    }
  }
}
